{% extends "UWEFlix/management.html" %}
<!--Title of the page  -->
{% block title %}Booking Management{% endblock %}

{% for alert in messages %}
  <p class="flashMessage">{{ alert }}</p>
{% endfor %}

<!-- This should include the url to the form for adding a new item to the database -->
{% block addLink %}{% url 'add_booking' %}{% endblock %}
{% block addMessage %}Make a Booking{% endblock %}

<!--These are the column names for the table -->
{% block fieldOne %}<th>User</th>{% endblock %}
{% block fieldTwo %}<th>Film</th>{% endblock %}
{% block fieldThree %}<th>Date</th>{% endblock %}
{% block fieldFour %}<th>Time</th>{% endblock %}
{% block fieldFive %}<th>Adults</th>{% endblock %}
{% block fieldSix %}<th>Students</th>{% endblock %}
{% block fieldSeven %}<th>Children</th>{% endblock %}
{% block fieldEight %}<th>Cost</th>{% endblock %}

<!-- These are the records in our table pulled from the database -->
{% block dbObjects %}
{% for booking in booking_list %}
  <tr>
    <td>{{ booking.customer.username }}</td>
    <td>{{ booking.showing.film.title }}</td>
    <td>{{ booking.showing.date }}</td>
    <td>{{ booking.showing.time }}</td>
    <td>{{ booking.adult_tickets }}</td>
    <td>{{ booking.student_tickets }}</td>
    <td>{{ booking.child_tickets }}</td>
    <td>{{ booking.cost }}</td>
    <td><a class="btn btn-sm btn-outline-info" href="{% url 'update_booking' booking.id %}">Update</a></td>
    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'remove_booking' booking.id %}">Delete</a></td>

  </tr>
{% endfor %}
{% endblock %} 