{% extends "UWEFlix/placeholder.html" %}
{% block content %}

<section class="jumbotron text-center"> 
  <body>
    {%block paymentSummary%}
    {% endblock %}
    <!-- Replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?client-id=ASlNnsmhBGyCb1XeV7rer61YqmRowT1z0GH7J7cD7z4YA3K-SXR5dbquaDWOEi6SNOQqjM5VKtEq3Z84&currency=GBP"></script>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    {%block script%}
    {% endblock%}
  </body>
</section>



{% endblock %}