{% extends "UWEFlix/placeholder.html" %}
{% block title %}
Register 
{% endblock %}
{% block content %}
<section class="py-5 text-center container">
    <h1 class="jumbotron-heading">Registration page</h1>
</section>
    <form method = "POST" actions="" class="accountForm">
        {% csrf_token %}
        {% for field in form %}
            <div class="accountFormField">
                <p>{{ field.label }}:</p>
                {{ field }}
            </div>
        {% endfor %} 
        <input type="submit" name="Create User" value="Register" class="accountFormSubmit btn-primary">
    </form>
    {{ form.errors }}
    <br>
    <p class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}