{% extends "UWEFlix/placeholder.html" %}
{% block content %}
  <body>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container py-5">
          <h1 class="jumbotron-heading">Showings for {{ filmTitle }}&nbsp;&nbsp;</h1>
        </div>
        <div class="album py-5 bg-light">
          <p class="border-middlePage">
            <!-- <div class="card card-body"> -->
              <table class="table table-sm table-hover">
                <thead>
                  <th>Film</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Screen</th>
                  <th>Book</th>
              </thead>
              <tbody>
                {% for showing in showing_list %}
                  <tr>
                    <td>{{ showing.film.title }}</td>
                    <td>{{ showing.date }}</td>
                    <td>{{ showing.time }}</td>
                    <td>{{ showing.screen }}</td>
                    <td><a class="btn btn-sm btn-outline-info" href="{% url 'book_ticket' showing.id %}">Book!</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            <!-- </div>  -->
        </div>
      </section>
      
    </main>
  </body>
{% endblock %}