{% extends "UWEFlix/film_home.html" %}
{% load custom_tags %}
{% block widgets %}
<section class="py-5 text-center container widget-container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for widget in widgets %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ widget.title }}</h5>
                        {% if widget|is_list %}
                            <ul>
                                {% for item in widget.items %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if widget|is_button %}
                            <div class="widget-button-box">
                                {% for item in widget.buttons %}
                                    <a href="{% url item.href %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            {{ item.text }}
                                        </button>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}