{% extends "UWEFlix/placeholder.html" %}
{% block title %}
Remove Booking
{% endblock %}
{% block content %}
<p>WARNING: You are about to delete "{{booking_name}}"! 
  This action is permanent and connot be undone. 
  Are you sure you want to do this?</p>
<form method = "POST">
  {% csrf_token %}
  <a href="{% url 'booking_management' %}">No,I want to keep this booking</a>
  <button type="submit" class="save btn btn-default">Yes, delete "{{ booking_name }}" </button>
</form>
</div>
{% endblock %}